h1,h2,h3,h4,h5,h6,p 
{
    margin: 0;
}

body 
{
    margin: 0;
    background-image: url("french.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: changeBg;
    animation-timeline: scroll(y);
}

header
{
    padding: 10px;
    width: calc(100vw - 20px);
    background-color: rgba(230,230,230);
    border-bottom: 5px double;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: clamp(10px,3vw,30px);
}

footer
{
    padding: 5px 0 5px 0;
    width: calc(100vw - 4px);
    background-color: rgba(230,230,230);
    border-top: 5px double;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: clamp(10px,3vw,30px);
}

main 
{
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
    justify-content: center;
    gap: 20px;
}

section 
{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0 5px rgba(255,255,255,0.75);
    width: 45vw;
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    font-size: clamp(7px, 5vw, 17px);
    animation: changeSection;
    animation-timeline: view();
    border-radius: 10px;
}
h2
{
    border-radius: 10px;
    background-color: rgba(255,0,0,0.75);
    color: white;
}
p 
{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    color: yellow;
    text-shadow: 0 0 20px rgb(255,255,0);
    font-weight: bold;
}
#h2
{
    background-color: unset;
    color: black;
}
#map 
{
    background-image: url("vietnam.webp");
    grid-area: one;
}

#hotel
{
    background-image: url("hotel.webp");
    grid-area: two;
}

#food 
{
    background-image: url("cake.webp");
    grid-area: three;
}

#monuments 
{
    background-image: url("temple.jpg");
    grid-area: four;
}

#religion 
{
    background-image: url("oldMan.jpg");
    grid-area: five;
}

#talent 
{
    background-image: url("singer.jpg");
    grid-area: six;
}

#facts 
{
    background-image: url("cashew.webp");
    grid-area: seven;
}

@keyframes changeBg 
{
    0%,50%,100% 
    {
        background-image: url("french.png");
    }
    25%,75%
    {
        background-image: url("vietnam.png");
    }
}

@keyframes changeSection 
{
    0%,100%
    {
        opacity: 5%;
        transform: scale(0.75,0.75);
    } 
    35%,65%
    {
        opacity: 75%;
        transform: scale(1,1);
    }
}
